@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--snow);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
:root{
    --raisin-black : #1A1B25;
    --raisin-black-light : #2A2C3C;
    --indian-red : #E5625E;
    --fulvous : #E98A15;
    --english-violet : #413C58;
    --snow : #FFFAFB;
    --dark-pastel-green : #20BF55;
    --moonstone : #4FB0C6;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--raisin-black);
    width: 100%;
    height: 100%;
    gap: 20px;

}
#nav-bar{
    display: flex;
    background-color: var(--raisin-black-light);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 1.2em;
}
#container{
    display: flex;
    width: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
#search{
    width: 100%;
}
label, h1{
    color: var(--english-violet);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
}
#ciID{
    font-size: 1em;
}
.sections{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black-light);
    border-radius: 5px;
}
input::placeholder{
    color: var(--moonstone);
    opacity: .5;
}
input[type='text'], input[type='email'], input[type='password']{
    width: 700px;
    background-color: var(--english-violet);
    color: var(--snow);
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;    
}
#cDescription, #ciDescription{
    background-color: var(--english-violet);
    border-radius: 5px;
    border: none;
    padding: 10px;
}
input[type='checkbox']{
    font-size: 1.2em ;
}
button{
    background-color: var(--english-violet);
    color: var(--snow);
    border: none;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--english-violet);
    color: white;
    padding: 25px;
    width: auto;
    border-radius: 20px;

}

@media  screen and (max-width : 375px) {
    .box{
        padding: 15px;
        font-size: 9pt;
    }    
}
/* LABELS STYLES */
    .label{
        display: flex;
        gap: 10px;
        justify-content: start;
        font-size: 1em;
        width: auto;
    }
    .dual-label{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        align-items: flex-start;
    }
    .footer{
        position: fixed;
        display: flex;
        position: fixed;
        width: 100%;
        height: 100px;
        bottom: 0;
        justify-content: center;
        align-items: end;
    }
    .add-bar{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: var(--raisin-black-light);
    }
    .add{
        position: absolute;
        top: -20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        background-color: var(--raisin-black-light);
        color: var(--moonstone);
        text-align: center;
        font-weight: 700;
        font-size: 1.4em;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        padding: 10px;
    }
    .btn{
        padding: 10px;
        font-size: 1em;
        width: 100px;
        background-color: var(--raisin-black-light);
        text-transform: uppercase;
    }
    .delete{
        color: var(--indian-red);
    }
    .update{
        color: var(--moonstone);

    }

   
    .deletePop{
        display: flex;
        flex-direction: column;
        background-color: var(--english-violet);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px black;
        gap: 30px;
    }
    
    .popup{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        pointer-events: all;
        display: none;
    }
    .enroll{
        font-size: 0.9em;
        color: var(--raisin-black);
        text-transform: uppercase;
        font-weight: 700;
        opacity: 1;
    }

    .show{
        cursor: pointer;
    }
    #info{
        display: none;
    }
    #addbtn{
        transition: all 500ms;
    }
    .form{
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 30px;
        flex-wrap: wrap;
        gap: 20px;
        background-color: var(--raisin-black-light);
        border-radius: 5px;
        
    }
    .form h1{
        color: var(--moonstone);
        text-transform: uppercase;
        font-size: 1.8em;
        font: 700;
    }
    .form input[type='text'], .form input[type='email'], .form input[type='password']{
        width: 50%;
    }
    #addBtn{
        margin-bottom: 50px;
    }
/*PAYMENT STATE STYLES*/
    .paid, .warning, .pending, .not-paid{
        font-size: 1em;
        font-weight: 700;
    }
    .paid{
        color: var(--dark-pastel-green)
    }
    .warning{
        color: var(--fulvous);
    }
    .pending{
        color: var(--moonstone);
    }
    .not-paid{
        color: var(--indian-red);
    }